[Desktop Entry]
Version=1.0
Type=Application
Name=Messthon
GenericName=Messenger on Python, using TOX
Comment[ar]=مراسلة فورية Tox مبنية على Qt 5 للاتصال الآمن
Comment[be]=Імгненны абмен паведамленнямі Tox на аснове Qt 5 для бяспечнай сувязі
Comment[bg]=Tox за мигновени съобщения, базиран на Qt 5, за сигурна комуникация
Comment[bn]=নিরাপদ যোগাযোগের জন্য Qt 5 ভিত্তিক Tox তাত্ক্ষণিক বার্তাপ্রেরণ
Comment[bs]=Tox instant messaging baziran na Qt 5 za sigurnu komunikaciju
Comment[ca]=Missatgeria instantània Tox basada en Qt 5 per a comunicacions segures
Comment[cy]=Negeseuon sydyn Tox yn seiliedig ar Qt 5 ar gyfer cyfathrebu diogel
Comment[eo]=Tuja mesaĝado Tox bazita sur Qt 5 por sekura komunikado
Comment[eu]=Tox berehalako mezularitza Qt 5 oinarrituta komunikazio segururako
Comment[fa]=پیام‌رسانی فوری Tox مبتنی بر Qt 5 برای ارتباط امن
Comment[ga]=Teachtaireachtaí meandracha Tox bunaithe ar Qt 5 le haghaidh cumarsáide slán
Comment[gd]=Teachdaireachdan sa bhad Tox stèidhichte air Qt 5 airson conaltradh tèarainte
Comment[gl]=Mensaxería instantánea Tox baseada en Qt 5 para comunicacións seguras
Comment[he]=העברת הודעות מיידיות Tox מבוססת Qt 5 לתקשורת מאובטחת
Comment[hi]=सुरक्षित संचार के लिए Qt 5 आधारित Tox त्वरित संदेशन
Comment[hr]=Tox instant messaging temeljen na Qt 5 za sigurnu komunikaciju
Comment[id]=Pengiriman pesan instan Tox berbasis Qt 5 untuk komunikasi yang aman
Comment[is]=Tox skyndiskilaboð byggð á Qt 5 fyrir örugg samskipti
Comment[ka]=Tox მყისიერი მესინჯერი Qt 5-ზე დაფუძნებული უსაფრთხო კომუნიკაციისთვის
Comment[kk]=Қауіпсіз байланыс үшін Qt 5 негізіндегі Tox лездік хабар алмасу
Comment[km]=ការផ្ញើសារបន្ទាន់ Tox ផ្អែកលើ Qt 5 សម្រាប់ការទំនាក់ទំនងប្រកបដោយសុវត្ថិភាព
Comment[kn]=ಸುರಕ್ಷಿತ ಸಂವಹನಕ್ಕಾಗಿ Qt 5 ಆಧಾರಿತ Tox ತ್ವರಿತ ಸಂದೇಶ ಕಳುಹಿಸುವಿಕೆ
Comment[ko]=안전한 통신을 위한 Qt 5 기반 Tox 인스턴트 메시징
Comment[ku]=Mesajên bilez Tox li ser bingeha Qt 5 ji bo ragihandina ewledar
Comment[ky]=Коопсуз байланыш үчүн Qt 5 негизиндеги Tox ыкчам билдирүү
Comment[lv]=Tox tūlītējā ziņojumapmaiņa, kuras pamatā ir Qt 5, drošai saziņai
Comment[mk]=Tox инстант пораки базирани на Qt 5 за безбедна комуникација
Comment[ml]=സുരക്ഷിത ആശയവിനിമയത്തിനായി Qt 5 അടിസ്ഥാനമാക്കിയുള്ള Tox തൽക്ഷണ സന്ദേശമയയ്ക്കൽ
Comment[mn]=Аюулгүй харилцааны зориулалттай Qt 5 дээр суурилсан Tox шуурхай мессеж
Comment[mr]=सुरक्षित संप्रेषणासाठी Qt 5 आधारित Tox त्वरित संदेशन
Comment[ms]=Pemesejan segera Tox berasaskan Qt 5 untuk komunikasi selamat
Comment[nb]=Tox direktemelding basert på Qt 5 for sikker kommunikasjon
Comment[ne]=सुरक्षित सञ्चारको लागि Qt 5 मा आधारित Tox तत्काल सन्देश
Comment[nl]=Tox instant messaging op basis van Qt 5 voor veilige communicatie
Comment[nn]=Tox direktemelding basert på Qt 5 for sikker kommunikasjon
Comment[no]=Tox direktemelding basert på Qt 5 for sikker kommunikasjon
Comment[pa]=ਸੁਰੱਖਿਅਤ ਸੰਚਾਰ ਲਈ Qt 5 ਅਧਾਰਤ Tox ਤਤਕਾਲ ਸੁਨੇਹਾ
Comment[ps]=د خوندي اړیکو لپاره د Qt 5 پر بنسټ Tox سمدستي پیغام رسول
Comment[ro]=Mesagerie instantanee Tox bazată pe Qt 5 pentru comunicații sigure
Comment[ru]=Мессенджер на Python, использующий Tox для безопасности и повышеной скорости.
Comment[si]=ආරක්ෂිත සන්නිවේදනය සඳහා Qt 5 පදනම් කරගත් Tox ක්ෂණික පණිවිඩ යැවීම
Comment[sq]=Mesazhe të çastit Tox të bazuara në Qt 5 për komunikim të sigurt
Comment[sr]=Ток инстант поруке засноване на КјуТ 5 за безбедну комуникацију
Comment[sw]=Ujumbe wa papo hapo wa Tox unaotegemea Qt 5 kwa mawasiliano salama
Comment[ta]=பாதுகாப்பான தகவல்தொடர்புக்கான Qt 5 அடிப்படையிலான Tox உடனடி செய்தியிடல்
Comment[te]=సురక్షితమైన కమ్యూనికేషన్ కోసం Qt 5 ఆధారిత Tox తక్షణ సందేశం
Comment[tg]=Паёмаки фаврии Tox дар асоси Qt 5 барои муоширати бехатар
Comment[th]=การส่งข้อความโต้ตอบแบบทันที Tox ที่ใช้ Qt 5 เพื่อการสื่อสารที่ปลอดภัย
Comment[tt]=Куркынычсыз аралашу өчен Qt 5 нигезендә Tox шәхси хәбәрләшү
Comment[uk]=Миттєві повідомлення Tox на основі Qt 5 для безпечного зв'язку
Comment[ur]=محفوظ مواصلات کے لیے Qt 5 پر مبنی Tox فوری پیغام رسانی
Comment[uz]=Xavfsiz aloqa uchun Qt 5 ga asoslangan Tox tezkor xabarlashuvi
Comment[vi]=Nhắn tin tức thời Tox dựa trên Qt 5 để liên lạc an toàn
Comment[zh_TW]=基於 Qt 5 的 Tox 即時通訊，用於安全通訊
TryExec=qtox
Exec=messthon %u
Icon=messthon
Categories=Network;InstantMessaging;Chat;Telephony;VideoConference;
Terminal=false
MimeType=x-scheme-handler/tox;application/x-tox;
